*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: #111;
    background-position: center;
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 100px;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

header .logo{
    position:relative;
    font-size: 1.9em;
    color: #000;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1px;
}

header .navigation{
    position: relative;
    display:flex;
}

header .navigation li{
    list-style: none;
}

header .navigation li a{
    display: inline-block;
    color: #000;
    margin-right: 40px;
    text-decoration: none;
    font-size: 15px;
    /*font-size: 1.0em;*/
    font-weight: 600;
    padding: 12px;
    transition: 0.3s ease;
}

header .navigation li a:hover{
    color: #AD764A;
    background-color:#000;
    border-radius: 10px; /*4rem*/
    transition: 0.5s ease;
    box-shadow: 0 0 10px #000;
}
.content{
    max-width: 600px;
    position: relative;
}

.content .contentBX h2{
    font-size: 3em;
    font-weight: 800;
    color: #000;
    line-height: 1em;
    text-transform: uppercase;
}
.content .contentBX h3{
    padding-top: 10px;
    font-size: 1.6em;
    color: #fff;
    line-height: 1em;
    font-weight: 700;
}

.content .contentBX p{
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;
    margin: 15px 0;
}

.content .contentBX a{
    display: inline-block;
    padding: 10px 30px;
    background: #000;
    color: #AD764A;
    text-decoration: none;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 1px;
    border-radius: 50em 3em; /*10px  100px*/
}
.content .contentBX a:hover{
    /*color: #fff;*/
    border-radius: 3em 50em; /*100px 10px*/
    transition: 0.5s ease;
    transform: scale(1.2); /*1.3*/
    box-shadow: 0 0 10px #000;
}

.social{
    position: absolute;
    right: 30px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
}

.social li{
    list-style: none;
    font-size: 25px;
    transition: 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.social li a{
    position: relative;
    display: inline-block;
    margin-bottom: 20px;
    color: #000;
    transition: 0.3s ease;
}

section video{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:fill;
    opacity: 0.8;
}


.social li a:hover{
    color: #fff;
    transition: 0.5s ease;
    transform: scale(1.3);
}

@media (max-width: 991px){
    header{
        padding: 15px 40px;
    }
    header .navigation{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #AD764A;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    header .navigation li a{
        font-size: 24px;
        margin: 10px 0;
    }
    .toggleMenu{
       /*when press the menu-btn show the border of links */
        position: relative;
        background: url(../photo/icons8-circled-menu-60.png);
        background-size: 30px;
        width: 30px;
        height: 30px;
        background-position: center; 
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }
    .toggleMenu.active{
        /*when press the menu-btn show the icon close x and the opposite */
        /*z-index: 999;*/
        position: relative;
        background: url(../photo/6447-200.png);
        width: 30px;
        height: 30px;
        background-size: 25px;
        background-position: center;
        background-repeat: no-repeat;
    }
    header .navigation.active{
        display: flex;
    }
    
}